.Todo-app:hover .trash-icon {
    display: block;
}

body {
    background-color: black;
    color: red;
}

div h1 {
    background-color: red;
    font: 900;
    align-items: center;
    display: flex;
    color: white;
}