
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Todo Manager</title>
    <link rel="icon" type="image/x-icon" href="/images/icons8-to-do-list-16.ico">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link href="./css/styles.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   <div class= "grid  grid-cols-6">
    <div class="col-start-3 col-span-2">
    <%- include ('notifications.ejs') %>
    <%- include("header.ejs") %> 
    <p class="py-2 text-lg">New Here...? <a href="/signup" class="text-green-600 font-semibold hover:underline">SignUp now</a></p>
    <p class="py-2 text-lg">Already have an account...? <a href="/login" class="text-green-600 font-semibold hover:underline">SignIn now</a></p>
    <%- include ('footer.ejs') %>
</div>
</div>
</body>
</html>