<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo-manager</title> 
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="grid grid-cols-6 my-2">
        <div class="col-start-3 col-sapn-2">
            <%- include("header.ejs") %>
            <form>
                <div class="flex gap-2 py-3">
                    <div class="flex-auto">
                        <input type="text" placeholder="What's next?" class="border border-gray-300 text-gray-900 rounded p-2.5 " required>
                    </div>
                    <div class="flex-auto">
                        <input type="date" class="border border-gray-300 text-gray-900 rounded p-2" required >
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="text-gray-900 rounded px-3 py-2 bg-green-600 text-white">Add</button>
                    </div>
                </div>
            </form>
            <%- include("todos.ejs") %> 
        </div>
    </div>
    
</body>
</html>