<style>
  table,tr,th,td{
    border:1px solid black
  }
  body{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
</style>
<table>
    <tr>
      <th>ID</th>
      <th>TITLE</th>
      <th>DUE DATE</th>
      <th>COMPLETED</th>
    </tr>
    <% for(var i=0;i< allTodos.length;i++) { %>
      <tr>
        <td>
          <%= allTodos[i].id %>
        </td>
        <td>
          <%= allTodos[i].title %>
        </td>
        <td>
          <%= allTodos[i].dueDate %>
        </td>
        <td>
          <%= allTodos[i].completed %>
        </td>
      </tr>
    <% } %>


  </table>











